.container{
    font-family: "Times New Roman", "Times", "serif";
    font-size: 17.5px;
}

.col-md-4 h1{
    background: rgb(168, 107, 2);
    padding: 20px;
}

h1{
    text-align: center;
    color: white;
    font-weight: bold;
}

.col-md-12 div{
    background-color: rgb(47, 96, 233);
    padding: 15px;
    color: rgb(243, 247, 3);
    font-weight: bold;
}

.col-md-3 div{
    background: rgb(53, 224, 53);
    padding-bottom: 50px;
    margin-bottom: 20px;
}

h2{
    color: purple;
}

.col-md-2 div{
    background: rgb(19, 199, 199);
    margin-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.col-md-3 h5{
    background: rgb(1, 66, 47);
    color: white;
}

.col-md-3 h4{
    background: rgb(1, 66, 47);
    padding-bottom: 50px;
    margin-bottom: 20px;
    color: white;
}